<!DOCTYPE html>
<html lang="<%= getLocale() %>">

<head>
    <%- include('index/head') %>
</head>

<body>
    <%- include('index/header') %>
    <%- include('public/body') %>
    <%- include('index/footer') %>
    <%- include('public/foot') %>
</body>

</html>